/*
Theme Name:  ACMSS 2015
Description: Responsive theme for the ACMSS based on the Apicona theme
Author:      Theme Mount
Author URI:  http://themeforest.net/user/thememount
Template:    apicona
Version:     0.1.0
Tags:        light, white, two-columns, three-columns, four-columns, right-sidebar, left-sidebar, responsive, retina
*/


/* =Parent theme style.css file
-------------------------------------------------------------- */
@import url("../apicona/style.css");
div.member_logo {
	text-align: center;
	margin: 15px 0;
}
div.member_logo img {
	width: 250px;
	border: 1px solid #DDD;
	padding: 5px;
	background-color: #FFF;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	min-height: 336px;
}
body.logged-in .logged-in-hidden, body.logged-out .logged-out-hidden {
	display: none;
}
.top-button {
	font-weight: bold;
	padding: 5px 10px;
	font-size: 1.1em;
}
a:hover .top-button {
	color: #365A96;
}
#top-member.top-button {
}
#top-store.top-button {
}
#top-member.top-button {
}
.messageBox.info.icon {
	background-image: url('images/messageBox-info.png');
}
.messageBox.info {
	color: #FFF;
	background-color: #365A96;
	border-color: #365A96 #365A96 #365A96 #365A96;
}
.messageBox.icon {
	background-position: 12px 46%;
	background-repeat: no-repeat;
	padding-left: 63px;
}
div.messageBox {
	display: block;
	line-height: 1.5;
	outline: none;
	overflow: hidden;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .17);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .17);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .17);
	-webkit-background-clip: padding-box;
	padding: 12px 24px;
}
.acmss-fixed-image {
	width: 150px;
	height: auto;
	border-radius: 25px;
	float: left;
	padding: 10px;
}
#hear_about_us_field {
	background-color: #e1f5e6;
	padding: 5px;
}
a.mscat-specialty {
	color: #384428;
	border-color: #ACC488 #98B86D #86AC53;
	background: #B0D27F;
	background: -webkit-gradient(linear, left top, left bottom, from(#C2DE98), to(#99C461));
	background: -moz-linear-gradient(top, #c2de98, #99c461);
	background: linear-gradient(#C2DE98, #99C461);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	display: inline-block;
	zoom: 1;
	padding: 10px 15px;
	outline: none;
	cursor: pointer;
	vertical-align: baseline;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border: solid 1px #B8B8B8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .08), inset 0 1px 0 rgba(255, 255, 255, .3);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-background-clip: padding-box;
	float: left;
	margin: 10px;
}
.fixedsticky {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
}
/* When position: sticky is supported but native behavior is ignored */
.fixedsticky-withoutfixedfixed .fixedsticky-off, .fixed-supported .fixedsticky-off {
	position: static;
}
.fixedsticky-withoutfixedfixed .fixedsticky-on, .fixed-supported .fixedsticky-on {
	position: fixed;
}
.fixedsticky-dummy {
	display: none;
}
.fixedsticky-on + .fixedsticky-dummy {
	display: block;
}
.fixedsticky {
	top: 0;
}
/* general theme hack */
.kwayy-titlebar-wrapper .kwayy-titlebar-inner-wrapper {
	background:transparent !important;
}
.kwayy-titlebar-main {
	text-align: left;
	background:rgba(54, 90, 150, .8);
	padding:6px 5px 0px 25px;
	margin-left:0px;
	width:50% !important;
}
.kwayy-titlebar-main .entry-title {
	font-size: 16px;
}
.kwayy-titlebar-main .breadcrumb-wrapper {
	display:none;
}
.breadcrumbs {
	padding-left:15px;
	margin-bottom:30px;
}
.breadcrumbs span {
	border:1px solid #f2f0f0;
	padding:5px 0px;
	position: relative;
	background: #fff;
}
.breadcrumbs .homeLink {
	padding: 5px 15px;
	position: relative;
	z-index: 6;
}
.breadcrumbs .post-page {
	padding:5px 15px;
}
.breadcrumbs .post-page:hover {
	background:#28af4c;
	color:#fff;
}
.breadcrumbs span:nth-child(2) {
 margin-left: -11px;
 position: relative;
 z-index: 5;
 padding-left: 12px;
}
.breadcrumbs span:nth-child(3) {
 margin-left: -20px;
 position: relative;
 z-index: 4;
 padding-left:21px;
}
.breadcrumbs span:nth-child(4) {
 margin-left: -3px;
 position: relative;
 z-index: 3;
 padding-left: 3px;
}
.breadcrumbs span:nth-child(4) a {
 background: #28af4c;
 padding: 5px 3px 5px 25px;
 color: #fff;
}
.single-product .breadcrumbs span:nth-child(3){
 margin-left: -3px;
 padding-left:21px;
	
	} 

.breadcrumbs .current-item {
	background: #28af4c;
	padding: 5px 3px 5px 25px;
	color: #fff;
	margin-left: -2px;
}
/* home item arrow */
.breadcrumbs .homeLink:after, .breadcrumbs .homeLink:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.breadcrumbs .homeLink:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 13px;
	margin-top: -14px;
}
.breadcrumbs .homeLink:before {
	border-color: rgba(243, 243, 243, 0);
	border-left-color: #f2f0f0;
	border-width: 14px;
	margin-top: -14px;
}
/* page item arrow */
.breadcrumbs .post-page:after, .breadcrumbs .post-page:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
    height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.breadcrumbs .post-page:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 13px;
	margin-top: -14px;
}
.breadcrumbs .post-page:hover .post-page:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #28af4c;
	border-width: 13px;
	margin-top: -14px;
}
.breadcrumbs .post-page:before {
	border-color: rgba(243, 243, 243, 0);
	border-left-color: #f2f0f0;
	border-width: 14px;
	margin-top: -14px;
}
/* current item arrow */
.breadcrumbs .current-item:after, .breadcrumbs .current-item:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.breadcrumbs .current-item:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #28af4c;
	border-width: 13px;
	margin-top: -14px;
}
.breadcrumbs .current-item:before {
	border-color: rgba(243, 243, 243, 0);
	border-left-color: #f3f3f3;
	border-width: 14px;
	margin-top: -14px;
}
/* wc products */

.specialtyBtn {
	border-bottom:2px solid #f2f0f0;
	font-size:15px;
}
.specialtyWrapper h2, .woocommerce h2 {
	color:#8b8b8b;
	font:24px 'HelveticaBold', serif;
	text-transform:capitalize;
}
.specialtyWrapper .specialtyBtn img {
	display:block;
	margin:0px auto;
	padding-bottom:20px;
}
.specialtyWrapper .specialtyBtn a {
	display:block;
	padding:80px 0px;
	height:275px;
	border-right:2px solid #f2f0f0;
	color:#878787 !important;
	font:15px 'HelveticaBold', serif;
}
.specialtyWrapper .specialtyBtn a:hover {
	background:#f2f0f0;
}
.specialtyWrapper .specialtyBtn a:last-child {
	border:0px;
}
.specialtyWrapper .specialtyBtn:last-child {
	border:0px;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	display:inline-block;
	padding:80px 0px;
	height:275px;
	border-right:2px solid #f2f0f0;
	border-bottom:2px solid #f2f0f0;
	width:48% !important;
	margin:0px;
}
.woocommerce ul.products li.product .productcontent h3 {
	color:#878787 !important;
}
ul.products li.product .cart_button, .single_add_to_cart_button, #place_order {
	color:#fff !important;
	background:#1d933c !important;
	border-radius:0px !important;
	padding:10px 25px;
	box-shadow:none !important;
	border:0px !important;
	font:19px 'HelveticaBold', serif;
}
ul.products li.product .cart_button:hover, .single_add_to_cart_button:hover, #place_order {
	color:#fff !important;
	border-radius:0px !important;
}
.woocommerce ul.products li.product:hover, .woocommerce-page ul.products li.product:hover {
	background:#f2f0f0;
}
.woocommerce ul.products li.product .productbox {
	border:0px !important;
}
 .woocommerce ul.products li.product:nth-child(even), .woocommerce-page ul.products li.product:nth-child(even) {
 border-right:0px;
}
.woocommerce ul.products li.product a img {
	width:auto !important;
	margin:0px auto;
}
.woocommerce ul.products li.product .productcontent {
	border:0px;
}
.products li.typ-product {
	margin:0px;
}
.woocommerce ul.products li.product .amount, .woocommerce-page ul.products li.product .amount {
	color: #1d933c;
	font-size:31px;
}
.add_to_cart_button {
	display:none !important;
}
.productcontent .price {
	float:left;
}
.productcontent a {
	float:left;
}
.woocommerce ul.products li.product .price {
	color: #77a464;
	display: block;
	font-weight: 400;
	margin-bottom: .5em;
	font-size: .857em;
	margin: 0px 10px 0px 127px;
}
.containerProd .col-md-3 {
	border-right:2px solid #f2f0f0;
	min-height:315px;
}
.sidebarProd {
	position:absolute;
	left:-57px;
	z-index:1;
}
.sidebarProd li {
	list-style:none;
	line-height:22px;
	margin-bottom:14px;
	padding-right:64px;
}
.sidebarProd li:hover:after, .sidebarProd li.pActive:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 19px 0px 0px 17px;
	border-color: #0c882d transparent;
	position: absolute;
	left: 35px;
	margin-left: -10px;
}
.sidebarProd li:nth-child(1) {
 background:url('images/icon1.png') no-repeat 55px center;
}
.sidebarProd li:nth-child(1):hover, .sidebarProd li.pActive1 {
 background:#28af4c url('images/icon1-hover.png') no-repeat 55px center;
}
.sidebarProd li:nth-child(2) {
 background:url('images/icon2.png') no-repeat 55px center;
}
.sidebarProd li:nth-child(2):hover, .sidebarProd li.pActive2 {
 background:#28af4c url('images/icon2-hover.png') no-repeat 55px center;
}
.sidebarProd li:nth-child(3) {
 background:url('images/icon3.png') no-repeat 55px center;
}
.sidebarProd li:nth-child(3):hover, .sidebarProd li.pActive3 {
 background:#28af4c url('images/icon3-hover.png') no-repeat 55px center;
}
.sidebarProd li:nth-child(4) {
 background:url('images/icon4.png') no-repeat 48px center;
}
.sidebarProd li:nth-child(4):hover, .sidebarProd li.pActive4 {
 background:#28af4c url('images/icon4-hover.png') no-repeat 48px center;
}
.sidebarProd li a {
	color:#6a6a6a;
	text-transform:capitalize;
	font:15px 'HelveticaBold', serif;
	display:block;
	padding:15px 0px 15px 121px;
}
.sidebarProd li:hover a, .sidebarProd li a:hover, .sidebarProd li.pActive a {
	color:#fff;
}
.woocommerce div.product div.images img {
	width:auto;
	margin-left:24%;
}
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
	width:auto;
}
.product_title {
	font-family:'HelveticaLight', serif;
	color:#4e4e4e !important;
}
.summary .price {
	border-top:2px solid #f2f0f0;
	border-bottom:2px solid #f2f0f0;
	padding:10px 0px;
	margin:10px 0px;
}
.summary .price .amount {
	color:#1d933c;
	font:37px 'HelveticaBold', serif;
}
.summary .price .subscription-details {
	color:#8b8b8b;
}
.summary p strong {
	color:#4e4e4e;
	font:15px 'HelveticaBold', serif;
}
.summary p span {
	display:inline-block;
	margin-left:10px;
}
.woocommerce div.product form.cart .button, .woocommerce-page div.product form.cart .button {
	margin: 10px 0px;
}
