/*
Theme Name:  ACMSS 2015
Description: Responsive theme for the ACMSS based on the Apicona theme
Author:      Theme Mount
Author URI:  http://themeforest.net/user/thememount
Template:    apicona
Version:     0.1.0
Tags:        light, white, two-columns, three-columns, four-columns, right-sidebar, left-sidebar, responsive, retina
*/


/* =Parent theme style.css file
-------------------------------------------------------------- */
@import url("../apicona/style.css");


/*261115_changes_rs*/

.postid-1743 .containerProd .price .from {
    display: none;
}
.postid-6697 .col-md-3.col-lg-3.col-sm-3.col-xs-3, .postid-8036 .col-md-3.col-lg-3.col-sm-3.col-xs-3, .postid-1550 .col-md-3.col-lg-3.col-sm-3.col-xs-3 {
    display: none;
}
.postid-2301 .price .subscription-details {
       display: inline;
    margin-left: 0;
}



/*form*/
.right_s{float:right !important;}
.clear{clear:both !important;}
.bold{font-weight:bold !important;}


ul.nav-menu > li > a, div.nav-menu > ul > li > a, ul.nav-menu > li.current-menu-item > a {
    color: #fff !important;	
}

ul.nav-menu li li a:hover {
	font-weight: 600;
}

div.member_logo {
	text-align: center;
	margin: 15px 0;
}
div.member_logo img {
	width: 250px;
	border: 1px solid #DDD;
	padding: 5px;
	background-color: #FFF;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	min-height: 336px;
}
body.logged-in .logged-in-hidden, body.logged-out .logged-out-hidden {
	display: none;
}
.top-button {
	font-weight: bold;
	padding: 5px 10px;
	font-size: 1.1em;
}
a:hover .top-button {
	color: #365A96;
}
#top-member.top-button {
}
#top-store.top-button {
}
#top-member.top-button {
}
.messageBox.info.icon {
	background-image: url('images/messageBox-info.png');
}
.messageBox.info {
	color: #FFF;
	background-color: #365A96;
	border-color: #365A96 #365A96 #365A96 #365A96;
}
.messageBox.icon {
	background-position: 12px 46%;
	background-repeat: no-repeat;
	padding-left: 63px;
}
div.messageBox {
	display: block;
	line-height: 1.5;
	outline: none;
	overflow: hidden;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .17);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .17);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .17);
	-webkit-background-clip: padding-box;
	padding: 12px 24px;
}
.acmss-fixed-image {
	width: 150px;
	height: auto;
	border-radius: 25px;
	float: left;
	padding: 10px;
}
#hear_about_us_field {
	background-color: #e1f5e6;
	padding: 5px;
}
a.mscat-specialty {
	color: #384428;
	border-color: #ACC488 #98B86D #86AC53;
	background: #B0D27F;
	background: -webkit-gradient(linear, left top, left bottom, from(#C2DE98), to(#99C461));
	background: -moz-linear-gradient(top, #c2de98, #99c461);
	background: linear-gradient(#C2DE98, #99C461);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	display: inline-block;
	zoom: 1;
	padding: 10px 15px;
	outline: none;
	cursor: pointer;
	vertical-align: baseline;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border: solid 1px #B8B8B8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .08), inset 0 1px 0 rgba(255, 255, 255, .3);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-background-clip: padding-box;
	float: left;
	margin: 10px;
}
.fixedsticky {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
}
/* When position: sticky is supported but native behavior is ignored */
.fixedsticky-withoutfixedfixed .fixedsticky-off, .fixed-supported .fixedsticky-off {
	position: static;
}
.fixedsticky-withoutfixedfixed .fixedsticky-on, .fixed-supported .fixedsticky-on {
	position: fixed;
}
.fixedsticky-dummy {
	display: none;
}
.fixedsticky-on + .fixedsticky-dummy {
	display: block;
}
.fixedsticky {
	top: 0;
}
/* general theme hack */
.kwayy-titlebar-wrapper .kwayy-titlebar-inner-wrapper {
	background:transparent !important;
}
.kwayy-titlebar-main {
	text-align: left;
	background:rgba(54, 90, 150, .8);
	padding:6px 5px 0px 25px;
	margin-left:0px;
	width:50% !important;
}
.kwayy-titlebar-main .entry-title {
	font-size: 16px;
}
.kwayy-titlebar-main .breadcrumb-wrapper {
	display:none;
}
.breadcrumbs {
	padding-left:15px;
	margin-bottom:30px;
}
.breadcrumbs span {
/*	border:1px solid #f2f0f0;
*/	padding:5px 0px;
	position: relative;
	/*background: #fff;*/
}
.breadcrumbs .homeLink {
	padding: 5px 15px;
	position: relative;
	z-index: 6;
}
.breadcrumbs .post-page {
	padding:5px 15px;
}
.breadcrumbs .post-page:hover {
	background:#28af4c;
	color:#fff;
}
.breadcrumbs span:nth-child(2) {
 margin-left: 8px;
 position: relative;
 z-index: 5;
 padding-left: 12px;
}
.breadcrumbs span:nth-child(3) {
 margin-left: -5px;
 position: relative;
 z-index: 4;
 padding-left:21px;
}
.breadcrumbs span:nth-child(4) {
 margin-left: 13px;
 position: relative;
 z-index: 3;
 padding-left: 3px;
}
/*.breadcrumbs span:nth-child(4) a {
 background: #28af4c;
 padding: 5px 3px 5px 25px;
 color: #fff;
}*/
.single-product .breadcrumbs span:nth-child(3) {
 margin-left: -0px;
 padding-left:21px;
}
.breadcrumbs .current-item {
	background: #28af4c;
	padding: 5px 3px 5px 25px;
	color: #fff;
	margin-left: -2px;
}
/* home item arrow */
.breadcrumbs .homeLink:after, .breadcrumbs .homeLink:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.breadcrumbs .homeLink:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 13px;
	margin-top: -14px;
}
.breadcrumbs .homeLink:before {
	border-color: rgba(243, 243, 243, 0);
	border-left-color: #f2f0f0;
	border-width: 14px;
	margin-top: -14px;
}
/* page item arrow */
.breadcrumbs .post-page:after, .breadcrumbs .post-page:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.breadcrumbs .post-page:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 13px;
	margin-top: -14px;
}
.breadcrumbs .post-page:hover .post-page:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #28af4c;
	border-width: 13px;
	margin-top: -14px;
}
.breadcrumbs .post-page:before {
	border-color: rgba(243, 243, 243, 0);
	border-left-color: #f2f0f0;
	border-width: 14px;
	margin-top: -14px;
}
/* current item arrow */
.breadcrumbs .current-item:after, .breadcrumbs .current-item:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.breadcrumbs .current-item:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #28af4c;
	border-width: 13px;
	margin-top: -14px;
}
.breadcrumbs .current-item:before {
	border-color: rgba(243, 243, 243, 0);
	border-left-color: #f3f3f3;
	border-width: 14px;
	margin-top: -14px;
}
/* wc products */

.specialtyBtn {
	border-bottom:2px solid #f2f0f0;
	font-size:15px;
}
.specialtyWrapper h2, .woocommerce h2 {
	color:#8b8b8b;
	font:24px 'HelveticaBold', serif;
	text-transform:capitalize;
}
.specialtyWrapper .specialtyBtn img {
	display:block;
	margin:0px auto;
	padding-bottom:20px;
}
.specialtyWrapper .specialtyBtn a {
	display:block;
	padding:80px 0px;
	height:275px;
	border-right:2px solid #f2f0f0;
	color:#878787 !important;
	font:15px 'HelveticaBold', serif;
}
.specialtyWrapper .specialtyBtn a:hover {
	background:#f2f0f0;
}
.specialtyWrapper .specialtyBtn a:last-child {
	border:0px;
}
.specialtyWrapper .specialtyBtn:last-child {
	border:0px;
}
.specialtyWrapper2 .specialtyBtn a, .specialtyWrapper3 .specialtyBtn a {
	height:420px;
	border-top:2px solid #f2f0f0;
}
.specialtyWrapper2 .specialtyBtn a:last-child, .specialtyWrapper3 .specialtyBtn a:last-child {
	border-top:2px solid #f2f0f0;
}
.specialtyWrapper2 h2, .specialtyWrapper3 h2 {
	margin-top:50px;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	display:inline-block;
	padding:80px 0px;
	height:275px;
	border-right:2px solid #f2f0f0 !important;
	border-bottom:2px solid #f2f0f0;
	width:48% !important;
	margin:0px;
}
.products .post-1644 {
	border-right:2px solid #f2f0f0 !important;
}
.products .post-1743, .products .post-1555 {
	border-right:0px !important;
}
.woocommerce ul.products li.product .productcontent h3 {
	color:#878787 !important;
}
ul.products li.product .cart_button, .single_add_to_cart_button, #place_order {
	color:#fff !important;
	background:#1d933c !important;
	border-radius:0px !important;
	padding:10px 25px;
	box-shadow:none !important;
	border:0px !important;
	font:19px 'HelveticaBold', serif;
}
ul.products li.product .cart_button:hover, .single_add_to_cart_button:hover, #place_order {
	color:#fff !important;
	border-radius:0px !important;
}
.woocommerce ul.products li.product:hover, .woocommerce-page ul.products li.product:hover {
	background:#f2f0f0;
}
.woocommerce ul.products li.product .productbox {
	border:0px !important;
}
 .woocommerce ul.products li.product:nth-child(even), .woocommerce-page ul.products li.product:nth-child(even) {
 border-right:0px;
}
.woocommerce ul.products li.product a img {
	width:auto !important;
	margin:0px auto;
}
.woocommerce ul.products li.product .productcontent {
	border:0px;
}
.products li.typ-product {
	margin:0px;
}
.woocommerce ul.products li.product .amount, .woocommerce-page ul.products li.product .amount {
	color: #1d933c;
	font-size:31px;
}
.add_to_cart_button {
	display:none !important;
}
.productcontent .price {
	float:left;
}
/*.productcontent a {
	float:left;
}*/
/*251115changes done in product_pg*/
.products.row .product.type-product {
    height: 355px;
}
.post-1743 .amount::before {
    /*content: "Starting at ";
	
    font-size: 18px;*/
	
}

/*301115*/
.col-xs-12.col-sm-6.col-md-4.col-lg-3.post-1555.product.type-product.status-publish.has-post-thumbnail.product_cat-membership.product_tag-must-register.product_tag-single-purchase.virtual.shipping-taxable.purchasable.product-type-subscription.product-cat-membership.product-tag-must-register.product-tag-single-purchase.instock, .col-xs-12.col-sm-6.col-md-4.col-lg-3.post-1743.product.type-product.status-publish.has-post-thumbnail.product_cat-corporate.product_cat-membership.product_tag-must-register.product_tag-single-purchase.shipping-taxable.purchasable.product-type-variable.product-cat-corporate.product-cat-membership.product-tag-must-register.product-tag-single-purchase.instock {
    border-top: 2px solid #f2f0f0 !important;
}


.col-xs-12.col-sm-6.col-md-4.col-lg-3.post-1743.product.type-product.status-publish.has-post-thumbnail.product_cat-corporate.product_cat-membership.product_tag-must-register.product_tag-single-purchase.shipping-taxable.purchasable.product-type-variable.product-cat-corporate.product-cat-membership.product-tag-must-register.product-tag-single-purchase.instock, .col-xs-12.col-sm-6.col-md-4.col-lg-3.post-6716.product.type-product.status-publish.has-post-thumbnail.product_cat-membership.shipping-taxable.purchasable.product-type-subscription.product-cat-membership.instock, .col-xs-12.col-sm-6.col-md-4.col-lg-3.post-1743.product.type-product.status-publish.has-post-thumbnail.product_cat-corporate.product_cat-membership.product_tag-must-register.product_tag-single-purchase.shipping-taxable.purchasable.product-type-variable.product-cat-corporate.product-cat-membership.product-tag-must-register.product-tag-single-purchase.instock, .col-xs-12.col-sm-6.col-md-4.col-lg-3.post-1641.product.type-product.status-publish.has-post-thumbnail.product_cat-membership.product_tag-must-register.product_tag-single-purchase.virtual.sold-individually.shipping-taxable.purchasable.product-type-subscription.product-cat-membership.product-tag-must-register.product-tag-single-purchase.instock
{border-left: 2px solid #f2f0f0 !important;}

.post-1743 .amount {
    margin-left: 2px !important;
}
li.col-xs-12.col-sm-6.col-md-4.col-lg-3.post-1743.product.type-product.status-publish.has-post-thumbnail.product_cat-corporate.product_cat-membership.product_tag-must-register.product_tag-single-purchase.shipping-taxable.purchasable.product-type-variable-subscription.product-cat-corporate.product-cat-membership.product-tag-must-register.product-tag-single-purchase.instock .amount{margin-left:-126px !important;}
li.col-xs-12.col-sm-6.col-md-4.col-lg-3.post-1743.product.type-product.status-publish.has-post-thumbnail.product_cat-corporate.product_cat-membership.product_tag-must-register.product_tag-single-purchase.shipping-taxable.purchasable.product-type-variable-subscription.product-cat-corporate.product-cat-membership.product-tag-must-register.product-tag-single-purchase.instock .from{display:none;}
	
.single_variation .amount::before{
	content:"";}
/*.kwayy-products .amount {
    margin-left: 0 !important;
}*/
.woocommerce ul.products li.product .price {
	color: #77a464;
	display: block;
	font-weight: 400;
	margin-bottom: .5em;
	font-size: .857em;
	margin: 0px 10px 0px 113px;
	 width: 62%;
}
.containerProd .col-md-3 {
	border-right:2px solid #f2f0f0;
	min-height:315px;
}
.sidebarProd {
	position:absolute;
	left:-57px;
	z-index:1;
}
.sidebarProd li {
	list-style:none;
	line-height:22px;
	margin-bottom:14px;
	padding-right:64px;
}
.sidebarProd li:hover:after, .sidebarProd li.pActive:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 19px 0px 0px 17px;
	border-color: #0c882d transparent;
	position: absolute;
	left: 35px;
	margin-left: -10px;
}
.sidebarProd li:nth-child(1) {
 background:url('images/icon1.png') no-repeat 55px center;
}
.sidebarProd li:nth-child(1):hover, .sidebarProd li.pActive1 {
 background:#28af4c url('images/icon1-hover.png') no-repeat 55px center;
}
.sidebarProd li:nth-child(2) {
 background:url('images/icon2.png') no-repeat 55px center;
}
.sidebarProd li:nth-child(2):hover, .sidebarProd li.pActive2 {
 background:#28af4c url('images/icon2-hover.png') no-repeat 55px center;
}
.sidebarProd li:nth-child(3) {
 background:url('images/icon4.png') no-repeat 50px center;
}
.sidebarProd li:nth-child(3):hover, .sidebarProd li.pActive3 {
 background:#28af4c url('images/icon4-hover.png') no-repeat 50px center;
}
.sidebarProd li:nth-child(4) {
 background:url('images/icon3.png') no-repeat 60px center;
}
.sidebarProd li:nth-child(4):hover, .sidebarProd li.pActive4 {
 background:#28af4c url('images/icon3-hover.png') no-repeat 60px center;
}
.sidebarProd li a {
	color:#6a6a6a;
	text-transform:capitalize;
	font:15px 'HelveticaBold', serif;
	display:block;
	padding:15px 0px 15px 121px;
}
.sidebarProd li:hover a, .sidebarProd li a:hover, .sidebarProd li.pActive a {
	color:#fff;
}
.woocommerce div.product div.images img {
	width:auto;
	margin-left:24%;
}
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
	width:auto;
}
.product_title {
	font-family:'HelveticaLight', serif;
	color:#4e4e4e !important;
}
.summary .price {
	border-top:2px solid #f2f0f0;
	border-bottom:2px solid #f2f0f0;
	padding:10px 0px;
	margin:10px 0px;
}
.summary .price .amount {
	color:#1d933c;
	font:37px 'HelveticaBold', serif;
}
.summary .price .subscription-details {
	color:#8b8b8b;
}
.summary p strong {
	color:#4e4e4e;
	font:15px 'HelveticaBold', serif;
}
.summary p span {
	display:inline-block;
	margin-left:10px;
}
.woocommerce div.product form.cart .button, .woocommerce-page div.product form.cart .button {
	margin: 10px 0px;
}
/* hide product from store page*/
.products .post-2301, .products .post-1362, .products .post-6697, .products .post-1550, .products .post-1508 {
	display:none !important;
}
.woocommerce .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page #content .quantity input.qty {
	border-radius: 0px;
	height: 43px;
	margin-top: 10px;
}
.cart_button{
	display:inline-block;}


/*responsive_store*/

/* ExtraSmall devices (tablets, 767px and down) */
@media (max-width: 414px) {
	.woocommerce ul.products li.product .price {
		margin:0px;
	}
	.woocommerce ul.products li.product .amount, .woocommerce-page ul.products li.product .amount {
		font-size: 27px;
	}
	ul.products li.product .cart_button, .single_add_to_cart_button, #place_order {
		color: #fff !important;
		background: #1d933c !important;
		border-radius: 0px !important;
		padding: 6px 25px;
		box-shadow: none !important;
		border: 0px !important;
		font: 19px 'HelveticaBold', serif;
		margin-top: 26px;
		display:block;
	}
	.productcontent a {
		float:none;
	}
	.containerProd .col-md-3 {
		display:none;
	}
	.specialtyWrapper .specialtyBtn a {
		font: 14px 'HelveticaBold', serif;
	}
	.kwayy-titlebar-main {
		width: 75% !important;
	}
	.breadcrumbs span {
		/*border: 1px solid #f2f0f0;*/
		padding: 5px 0px;
		position: relative;
		/*background: #fff;*/
		display: inline-block;
		margin-bottom: 2px;
	}
}.wpcf7-form {background:#EEEAEA;}
}

@media (max-width: 1200px) {

*#menu-item-6619 > a,
#menu-item-8001 > a,
#menu-item-6188 > a,
#menu-item-6189 > a, 
#menu-item-6220 > a,
#menu-item-6221 > a
{color:rgba(45, 45, 45, 0.97) !important;}

.woocommerce ul.products li.product .price{margin:0 10px 0 89px !important;}
.woocommerce ul.products li.product .amount, .woocommerce-page ul.products li.product .amount{font-size:24px !important;}


}
@media (max-width: 980px) {
.inline_b {
    margin: 0;
    padding: 0;
}}

@media (max-width: 991px) {

.cart_button {
    display: inline-block;
    float: right;
    margin-right: 83px;
    margin-top: 27px;
    text-align: center;
}
}


@media (max-width: 768px) {
	.woocommerce ul.products li.product .price {
		margin:0px 10px 0px 0px;
	}
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		clear: none;
	}
	ul.nav-menu > li > a, div.nav-menu > ul > li > a {
	    color: #2d2d2d;	
	}
	.sidebarProd li {
		padding-right: 34px;
	}
	.sidebarProd li a {
		padding: 15px 0px 15px 110px;
	}
	.row.specialtyBtn .col-md-4.col-sm-4.col-xs-4.text-center {
    width: 100% !important;
}
.new-div.row {
    margin: 0 !important;
    padding: 80px 50px;
    width: 100% !important;
}
}


@media (max-width: 754px) {

.mar{margin-left:0px;}
.inline_b li img {
    max-width: 20%;
}
.inline_b > li{width:33%;}

}

@media (max-width: 535px) {
.inline_b > li {
    width: 28%;
	font-size:12px;
}

}

@media (max-width: 462px) {
.inline_b > li {
    width: 32%;
	font-size:12px;
}
.speciality_img .product_title.entry-title{font-size:15px;}
	
}

@media (max-width: 380px) {
.inline_b > li {
    font-size: 11px;
    width: 29%;
}
.inline_b li img {
    max-width: 30%;
}
.breadcrumbs {
    padding-left: 0;
    width: 94%;
}

}
.wpcf7-form {background:transparent;}

.std_disp 			{ width: 140px; height: 167px; float: left; background-color: #365a96; margin: 10px 30px; padding:20px 0 10px; text-align: center; color: #fff; font-size: 1.4em; line-height: 1em; position: relative; }
.green 	{ background-color: #1d933c; }
.orange { background-color: #FF9900; }
.blue 	{ background-color: #3366FF; }
.std_disp span		{ display: block; }
.std_disp span.count{ font-weight: bold; font-size: 2.5em; line-height: 1.5em; }
.std_disp a 		{  color: #fff;  position: absolute; top:5px; right: 10px; }
/*.std_disp a 		{ font-weight: bold; color: #fff; font-size: 22px; position: absolute; top: 10px; right: 10px; }*/
#student-list 		{ columns: 4; -webkit-columns: 4; -moz-columns: 4; }
#student-list li 	{ cursor: pointer; }
.selected_student 	{ background-color: #365a96; color: #fff; }
.assign-button 		{ display: none; margin-top: 0.5em; }

span.assign	{ border-radius: 5px; font-size: 14px; color: #fff; margin: 0 3px; padding: 2px; font-weight: bold; float: left; }



/*Rajendra Start */

.member_input 						{ width: 160px; margin-right: 35px !important; }
#existing_members #member-list li 	{ float: left; width: 20%; margin: 3px 10px 0; cursor: pointer; padding: 3px; }
#existing_members #member-list 		{ list-style: none; }

.selected_member					{ background-color: #6b87b4; color: #fff; font-weight: bold; }


.btn.blue, .btn.blue:link, .btn.blue:visited, .btn.blue:hover, .btn.blue:active {
    color: #32434A;
    border-color: #A0C2D0 #8DB8CA #73AAC1;
    background: transparent linear-gradient(#B4DCEC, #84C1DD) repeat scroll 0% 0%;
}
.btn.small, a.btn.small {
    font-size: 11px;
    line-height: 1.3;
    padding: 0.3em 1em 0.4em;
}


/*Rajendra Start */

/*1-dec-2015*/
.new-form-layout{ padding-top:20px; width:70%;}
.new-form-layout li{ list-style-type:none; display:inline-block; vertical-align:top;width:31%; margin-right:2%; margin-bottom:15px;}
.new-form-layout li:nth-last-child(2){ margin-right:0px;}
.block-li{ display:block; width:100%;}

.add-more{ font-size:12px; font-weight:bold;}
.quesion-p{ display:block; margin-top:10px;}



/*4-12-15*get code_pop_up_css*/        
            
            .box {
               /* width: 20%;*/
                margin: 0 auto;
                background: rgba(255,255,255,0.2);
             /*   padding: 35px;
                border: 2px solid #fff;
                border-radius: 20px/50px;
                background-clip: padding-box;*/
                text-align: center;
              }
/*
              .button {
                font-size: 1em;
                padding: 10px;
                color: #fff;
                border: 2px solid orange;
                border-radius: 20px/50px;
                text-decoration: none;
                cursor: pointer;
                transition: all 0.3s ease-out;
              }
              .button:hover {
                background: orange;
              }
*/
              .overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.7);
                transition: opacity 500ms;
                visibility: hidden;
                opacity: 0;
              }
              .overlay:target {
                visibility: visible;
                opacity: 1;
              }

          /*    .popup {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    left: 400px;
    padding: 20px;
    position: absolute;
    top: 750px;
    transition: all 5s ease-in-out 0s;
    width: 30%;
}*/
              .popup {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    margin:70px auto; /*738px 0 0 403px;*/
    padding: 20px;
    position: relative;
    transition: all 5s ease-in-out 0s;
    width: 33%;
}

              .popup h2 {
                margin-top: 0;
                color: #333;
                font-family: Tahoma, Arial, sans-serif;
              }
              .popup .close {
                position: absolute;
                top: 20px;
                right: 30px;
                transition: all 200ms;
                font-size: 30px;
                font-weight: bold;
                text-decoration: none;
                color: #333;
              }
              .popup .close:hover {
                color: orange;
              }
              .popup .content {
                max-height: 30%;
                overflow: auto;
              }
            
        